extends ../layout

block content

    div(class='container')
        a(href='/admin', class='btn btn-default mb10') back to menu
        h1 Edit #{book.title}
        img(class='media-object item-image mb10' src='data:'+ book.image.contentType +';base64,'+book.image.data alt='')
        form(method='post', action='/admin/book/edit/'+ book.id, class='form', enctype="multipart/form-data")
            div(class='form-group')
                input(type='text', name='title', placeholder='Enter title', class='form-control', value=book.title)
            div(class='form-group')
                input(type='file', name='image', class='form-control')
            div(class='form-group')
                textarea(name='description', class='form-control') #{book.description}
            div(class='form-group')
                input(type='number', name='price', placeholder='Enter price', class='form-control', value=book.price)
            div(class='form-group')
                select(name='category', class='form-control')
                   each category in categories
                       if (book.category == category.id)
                            option(value=category.id, selected="true") #{category.title}
                       else
                            option(value=category.id) #{category.title}
            div(class='form-group')
                button(type='submit', class='btn btn-primary') Edit